{{ partial "header.html" . }}
<div class="article-meta">
<h1 class="title">{{ .Title | markdownify }}</h1>
{{ if (gt .Params.date 0) }}<p class="date">{{ .Date.Format "Mon, 02. Jan 2006" }}</p>{{ end }}
<p class="terms">
  {{ range $i := (slice "categories" "tags") }}
  {{ with ($.Param $i) }}
  {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
  {{ end }}
  {{ end }}
</p>
</div>

<main>
{{ .Content }}
</main>

{{ if (eq .Params.type "post") }}
{{ partial "comments.html" . }}
{{ end }}

{{ partial "footer.html" . }}
