{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>

<ul class="terms">
  {{ range $key, $value := .Data.Terms }}
  <li>
    <a href="{{ (print "/" $.Data.Plural "/" $key | urlize) | relURL }}" style="font-size:{{ add 80 (mul 8 (len $value)) }}%">{{ $key }}</a>&nbsp;(<span>{{ len $value }}</span>)
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}
