@font-face {
 font-family:B612;
 font-style:normal;
 src:url(../assets/B612-Regular.woff2) format("woff2"),url(./B612-Regular.woff) format("woff")
}
@font-face {
 font-family:B612;
 font-style:italic;
 src:url(../assets/B612-Italic.woff2) format("woff2"),url(./B612-Italic.woff) format("woff")
}
@font-face {
 font-family:B612;
 font-style:normal;
 font-weight:700;
 src:url(../assets/B612-Bold.woff2) format("woff2"),url(./B612-Bold.woff) format("woff")
}
@font-face {
 font-family:B612;
 font-style:italic;
 font-weight:700;
 src:url(../assets/B612-BoldItalic.woff2) format("woff2"),url(./B612-BoldItalic.woff) format("woff")
}
body {
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
  font-family: B612, sans-serif;
}
code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
