/* inspired by https://blog.koley.in/2019/339-bytes-of-responsive-css
 * and https://www.gwern.net/Design */
:root {
  --GW-base-font-size: 15pt;
  --GW-body-color: #224;
  --GW-body-link-color: var(--GW-body-color);
  --GW-body-text-color: var(--GW-body-color);
	--GW-body-text-font-size: 1rem;
  --GW-dotted-underline-background-image: url('data:image/gif;base64,R0lGODlhBAACAPAAMYiIiP///ywAAAAABAACAAACBAQShgUAOw==');
  --GW-link-underline-gradient-line-color: #338;
  --GW-monospaced-font-stack: "IBM Plex Mono", "Liberation Mono", "Consolas", "Courier", monospace, "Noto Emoji", "Quivira";
  --GW-sans-serif-font-stack: "Lucida Sans Unicode", "Source Sans Pro", "Helvetica", "Trebuchet MS", sans-serif, "Noto Emoji", "Quivira";
  --GW-serif-font-stack: "Source Serif Pro", "Apple Garamond", "Baskerville", "Libre Baskerville", "Droid Serif", "Times New Roman", "Times", serif, "Noto Emoji", "Quivira";
}
html {
  background-color: lch(86.301% 131.68 58.754);
  background-color: rgb(100% 80.49% 66.95%);
  background-color: #EEE; 
  color: var(--GW-body-text-color);
  font-size: var(--GW-base-font-size);
  font-weight: 400;
  font-family: var(--GW-serif-font-stack);
}
body {
  background-color: #f8f8f8;
  color: var(--GW-body-color);
  line-height: 1.6;
  margin: auto;
  max-width: 800px;
  max-width: 40rem;
  padding: 1rem;
}
h1 {
  font-feature-settings: 'smcp';
  font-size: 1.75em;
  font-variant: small-caps;
  letter-spacing: -0.75px;
  line-height: 1.25;
}
h1, h2, strong { color: #111; }
/* header and footer areas */
.terms { font-size: .9em; }
.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  background: #eee;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
}
.menu, .article-meta, #footer { text-align: center; }
.title { font-size: 24pt; }
hr {
  border-style: dashed;
  color: #ddd;
}
p {
  line-height: 1.50;
}
em {
  letter-spacing: 0.75px;
}

/* code */
code {
  font-size: 12pt;
}
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
}
pre code { background: none; }
code[class*="language-"], pre[class*="language-"] {
  font-size: 10pt;
}

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  font-style: italic;
  padding: 3px 1em 3px;
}

ul { padding: 1em; }
ul.main,ul.terms {
  list-style-type: none;
  padding: 0em;
}

table {
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;
  margin: auto;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
a:any-link { 
  /* gentle underlines https://www.gwern.net/Design */
  /* background-image: linear-gradient(var(--GW-link-underline-gradient-line-color), var(--GW-link-underline-gradient-line-color)); */
  /* background-image: var(--GW-dotted-underline-background-image); */
  /* background-position: 0% 100%;
  background-repeat: repeat-x;
  background-size: 1px 0.1ex; */
  border-bottom: 0.2ex dotted var(--GW-link-underline-gradient-line-color);
  color: var(--GW-body-link-color);
  text-decoration: none;
}

/* https://discourse.gohugo.io/t/handling-images-size-aligning/1940/2 */
img[src$='#height50'] {
  height: 50px;
  padding: 1ex;
}
img[src$='#height24'] {
  height: 24px;
  /* margin-bottom: -0.65ex; */
}
iframe#comments {
  border: 0;
  width: 100%;
  height: 200px;
  margin: 0 -1ex;
}
/* Tag cloud */
ul.terms {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.terms > li { display: inline; }

@media only screen and (max-width: 590px) {
  blockquote {
    margin: 2ex 0;
  }
}

h1[id]:hover::after,
h2[id]:hover::after, 
h3[id]:hover::after {
  content: " #" attr(id);
  font-family: monospace;
  font-feature-settings: initial;
  font-size: 50%;
  font-variant: initial;
  opacity: 30%;
}

div.footnotes > ol > li::marker {
  content: '[' counter(list-item) '] ';
}
/* https://stackoverflow.com/a/11142257/349514 */
:target {
   background-color: #ffa;
}
