  <div id="footer">
  {{ partial "foot_custom.html" . }}
  {{ with .Site.Params.footer }}
  <hr/>
  {{ . | markdownify }}
  {{ end }}
  </div>
    <script src="{{ "/assets/prism.js" | relURL }}"></script>
  </body>
</html>
