<!-- https://github.com/yihui/hugo-xmin/blob/master/exampleSite/layouts/partials/foot_custom.html
<script src="/js/math-code.js"></script>
<script async src="/js/MathJax.js"></script>
<script async src="/js/center-img.js"></script>
-->