<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="alternate" type="application/rss+xml" title="Feed" href="{{ .Site.RSSLink }}"/>
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml"/>
    <link rel="replies" type="application/atom+xml" title="Comment Feed" href="feed/"/>
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta name="DC.Title" content="{{ .Title }}"/>
    <meta name="author" content="{{ $.Param "author" }}"/>
    <meta name="date" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"/>
    <meta name="keywords" content="{{ with ($.Param "tags") }}{{ range $index, $v := . }}{{ if gt $index 0 }}, {{ end }}{{ $v }}{{ end }}{{ end }}"/>    <!-- https://tools.ietf.org/html/rfc2731 -->
{{ range $i := (slice "categories" "tags") }}{{ with ($.Param $i) }}{{ range $index, $v := . }}    <meta name="DC.Subject" scheme="../../../{{ $i }}/" content="{{ $v }}"/>
{{ end }}{{ end }}{{ end }}    <link rel="stylesheet" href="{{ "/assets/prism.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/assets/style.css" | relURL }}" />
    <script src="{{ "/assets/script.js" | relURL }}"></script>
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <form action="{{ .Site.BaseURL }}search">
      <input type="text" name="q" placeholder="🔍 Search"/>
      <button submit="submit">Search!</button>
    </form>
    <hr/>
    </nav>
